body {
  background-color: hsl(0, 0%, 100%);
 
}

h1 {
  color: #000000;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
 
}

div {
color: #000000;
  text-align: center;
  border: 2px solid lab(0% 0 0);
 
}

  label {
    color: hsl(0, 0%, 100%);

  }

  
  select {
color: lab(8.39% 34.39 -40.51);

}

input, textarea {
  color: hsl(0, 0%, 0%);
  background-color: lch(100% 0.01 296.81);
  padding: 2px;
 }

 label {
  color: hsl(0, 0%, 0%);
 }

button {
  color: hsl(0, 0%, 100%);
  background-color: lab(88.55% -76.1 45.72);
  padding: 5px 10px;
  cursor: pointer; 
}

  button:hover {
    background-color: lab(70.55% -76.1 45.72);
  }
