body {
  background-color: hwb(104 51% 4%);
 
}

h1 {
  color: #000000;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
 
}

div {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border: 2px solid lab(0% 0 0);
  border: none;
  border-radius: 10px 10px 10px 10px;
  justify-self: center;
}

  label {
    color: hsl(0, 0%, 100%);

  }

  
  select {
color: lab(0% 0 0);

}

input{
  color: hsl(0, 0%, 0%);
  background-color: lch(100% 0.01 296.81);
  padding: 2px;
 }

textarea {
  color: hsl(0, 0%, 0%);
  background-color: lch(100% 0.01 296.81);
  padding: 2px;
  width: 200px;
  height: 50px;
 }

 label {
  color: hsl(0, 0%, 0%);
 }

button {
  color: hsl(0, 0%, 100%);
  background-color: lab(88.55% -76.1 45.72);
  padding: 5px 10px;
  cursor: pointer; 
  border: none;
}

  button:hover {
    background-color: lab(70.55% -76.1 45.72);
  }
